<div class= "col-md-4">
  <div class= "table-responsive">
    <h1 style='color:#666666'>All Books</h1>
    <table class="table table-hover">
      <!--This is a table row with headers-->
  <tr>
    <td class = "col-xs-8">
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
  </td>
      </tr>

<%= link_to 'New book', new_book_path %>


  <% @books.each do |book| %>
    <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.genre %></td>
      <td><%= link_to 'Show', book_path(book), class: 'btn btn-default btn-xs' %></td>
      <td><%= link_to 'Edit', edit_book_path(book), class: 'btn btn-success btn-xs' %></td>
      <td><%= link_to 'Destroy', book_path(book),
             method: :delete,
             data: { confirm: 'Are you sure you want to delete this book?' }, class: 'btn btn-xs btn-danger' %></td>
    </tr>
  <% end %>
</table>
</div>
</div>
