<p>
  <strong>Title:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<h2>Comments</h2>
<% @book.comments.each do |comment| %>
  <li> <%= comment.commenter %> </li>
  <li> <%= comment.body %> </li>
<% end %>
<h2>Agendas</h2>
<% @book.agendas.each do |agenda| %>
  <li> <%= agenda.question %></li>
<%end %>


<h2>Add a comment:</h2>
<%= form_for([@book, @book.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>


  <p>
    <%= render 'agendas/form' %>
  </p>


<!-- <%= link_to 'Back to Library', books_path %> -->
<%= link_to books_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Back to Library
<% end %>
